<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.15.1/system.min.js"
        integrity="sha512-uqwFgHHxg9qZmWJnFhtUQjSmyeWU3NByQQfx1U5DGjJ1iNfAbbgMxEDQuuxQgq2D133Cn3b5jD4cIBCPj4VKpA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <script src="./index.js"></script>
    <h1>[[ message ]]</h1>

    <script nomodule>
        System.import('./a.js').then(() => {
            console.log('aaaaaaaaa')
        });
    </script>
</body>

</html>