<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        header,
        main,
        footer {
            margin: 10px;
        }

        header {
            border: 1px solid lightgray;
        }

        main {
            border: 1px solid lightgray;
            padding: 10px;
        }

        footer {
            border: 1px solid lightgray;
        }
    </style>
</head>

<body>
    <% var content="我是主页内容" %>

        <%- include('layout',{ content: content,title:title})%>

</body>

</html>