<div>
    <header>
        <%- include('./components/header') %>
    </header>
    <main>
        <h1>
            <%= title %>
        </h1>
        <%= content %>
    </main>
    <footer>
        <%- include('./components/footer') %>
    </footer>

</div>